.border{
    border: 2px solid red;
    margin: 3px;
}

.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.items-center{
    align-items: center;
}

.bg-black{
    background-color: black;
    color: white;
}

.invert{
    filter: invert(1);
}

.bg-grey{
    background-color: #121212;
}

.rounded{
    border-radius: 7px;
}

.m-1{
    margin: 5px;
}

.p-1{
    padding: 10px;
}

.m-2{
    margin: 16px 0px;
}

/* For WebKit browsers */
::-webkit-scrollbar {
    width: 12px;               /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #37003a;       /* Background color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
    background-color: #610061; /* Color of the scrollbar thumb */
    border-radius: 6px;        /* Rounded corners of the scrollbar thumb */
    border: 3px solid #440437; /* Padding around scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #9932CC; /* Color of the scrollbar thumb on hover */
}
/* 
/* For Firefox */
/* scrollbar-color: #555 #2c2c2c;
scrollbar-width: thin; */ 

